@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing:border-box;
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    background-color: #f7eeea;
    font-family: Lora;
}

h2 {
    margin-left: 5rem;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: solid 4px #BC8F8F;
}

.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: #f7eeea;
}

.nav-list a:hover {
    display: flex;
    padding: 2rem;
    margin-right: 2rem;
}

.nav-list{
    margin: 0 1rem;
}

.nav-list a {
    display:block;
    padding: 2rem;
    font-size: 1.7rem;
    text-transform: capitalize; 
    text-decoration: none;
}

#navbar a {
    color: #000;
}

.projects-section {
    text-align: center;
    padding: 7rem;
}

@media (max-width: 30rem) {
    html {
        font-size: 55%;
    }
}

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: linear-gradient(62deg, #f7eeea 0%, #BC8F8F 100%);
}

.welcome-section > h1 {
    font-size: 3.5rem;
    font-weight: 500;
    padding-top: 7rem;
}

.welcome-section > p {
    font-size: 2rem;
    padding-top: 0;
}

.projects-section {
    text-align: center;
    padding: 10rem 2 rem;
    font-size: 2rem;
}

.projects-grid{
    grid-template-columns: 5fr;
}

.projects-grid a {
    text-decoration: none;
    color:#000;
    padding: 3rem;
}

.project-title {
    text-decoration: none;
    font-size: 2.4rem;
    transition: transform 0.3s ease-out;
    color: #000;
}

.project-title:hover {
    color: #BC8F8F;
}

.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
}

.contact-details {
    text-decoration: none;
    font-size: 2.4rem;
    transition: transform 0.3s ease-out;
    color: #000;
}

.contact-details:hover {
    color: #BC8F8F;
}